extends partials/templates/_template.pug

block content

  // Banner
  include partials/components/_banner.pug 
  // Facts
  include partials/components/_facts.pug 
  // Services
  include partials/components/_services.pug
  // Offers
  include partials/components/_offers.pug 
  // Reviews
  include partials/components/_reviews.pug
  // Gallery
  include partials/components/_gallery.pug
  // Contacts
  include partials/components/_contacts.pug 


