.banner{

  &__gallery{
    .slick-arrow{
      position: absolute;
      z-index: 1;
      top: 50%;
      color: transparent;
      background-color: transparent;
      border: none;
      outline: none;
      opacity: .4;
      &:hover, &:focus {
        opacity: 1;
      }
    } 
    .slick-prev{
      left: 30px;
      @include sprite($s-arrow-next);
      transform: translateY(-50%) rotate(180deg);
    } 
    .slick-next{
      right: 30px;
      @include sprite($s-arrow-next);
      transform: translateY(-50%);
    }  
  }
  &__slide{
    position: relative;
    height: 400px;
    width: 100%;
    img{
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
      object-position: center bottom;
    }
  }
  &__text-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  &__slogan{
    margin-top: 50px;
    @include font-family('Roboto Light', normal, normal);
    font-size: $font-size--supertitle;
    @include mq($from:xs, $until:md){
      margin-top: 20px;
      font-size: $font-size--title2;
    }
  }
}

