.btn{
  display: inline-block;
  border: none;
  outline: none;
  color: $text-color-white;
  @include font-family('Roboto', normal, normal);
  background-color: rgba(255,255,255,.25); 
  font-size: $font-size--small;
  border: 1px solid $white; 
  padding: 10px 20px;
  margin: 0;
  &:hover, &:focus {
    text-decoration: none;
    background-color: rgba(255,255,255,0);
  }

  &--blue{
    background-color: none;
    border: 1px solid $blue;
    color: $blue;
    &:hover, &:focus {
      text-decoration: none;
      background-color: rgba($blue,.1);
    }
  }
}

