.facts{
  padding-top: 30px;
  &__item{
    padding: 20px 40px 50px;
    text-align: center;
  }
  &__icon{
    margin: 0 auto;
    &--extreme{
      @include sprite($s-fact-extreme);
    }
    &--safe{
      @include sprite($s-fact-safe);
    }
    &--romantic{
      @include sprite($s-fact-romantic);
    }
  }
  &__title{
    font-size: $font-size--big;
    @include font-family('Roboto Medium', normal, normal);
    color: $blue;
    margin: 15px 0 5px;
  }
}
