.header{
  &__inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5px 0;
  }
  &__motto{
    font-size: $font-size--small;
    @include font-family('Roboto', normal, normal);
    margin: 0;
    @include mq($from:xs, $until:lg){
      flex: 0 0 100%;
      text-align: center;
    }
  }
  &__map-wrapper{
    @include mq($from:xs, $until:lg){
      flex: 0 0 100%;
      text-align: center;
      margin-top: 10px;
    }
  }
  &__tel-wrapper{
    @include mq($from:xs, $until:lg){
      flex: 0 0 100%;
      text-align: center;
      margin-top: 10px;
    }
  }
  &__link{
    font-size: $font-size--small;
    &--map{
      color: $blue;
      border-bottom: 1px dotted $blue;  
      transition: none;
      &:before{
        content: '';
        display: inline-block;
        margin-right: .3em;
        @include sprite($s-pin-blue);
      }
      &:hover, &:focus {
        text-decoration: none;
        border-bottom: 1px dotted transparent;
      }    
    }
    &--tel{
      &:before{
        content: '';
        display: inline-block;
        margin-right: .3em;
        @include sprite($s-tel);
      }
    }
  }


  &__nav-wrapper{
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  &__logo{
    flex: 0 0 auto;
    @include mq($from:xs, $until:lg){
      flex: 0 0 100%;
      text-align: center;
      margin: 10px 0 15px;
    }
  }
  &__nav{    
    flex: 1 1 auto;
    padding-left: 40px;
    @include mq($from:xs, $until:lg){
      flex: 1 1 100%;
      padding-left: 0;
    }
  }
}

.nav{
  &__hamburger{
    display: none;
    text-align: center;
    margin: 5px 0;
    @include mq($from:xs, $until:lg){
      display: block;
    }    
  }
  &__list{
    padding-left: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    font-size: $font-size--small;
    @include mq($from:xs, $until:lg){
      flex-direction: column;
      align-items: center;
    } 
  }
  &__item{
    @include mq($from:xs, $until:lg){
      margin: 5px 0;
    }
  }
}


.hamburger{
  display: inline-block;
  padding: 17px 6px;
  // background-color: $menu--border-top;
  border-radius: 3px;
  span{
    display: block;
    width: 30px;
    margin: 0 auto;
    height: 4px;
    background-color: $blue;

    &:after, &:before{
      content: "";
      display: block;
      width: 30px;
      height: 4px;
      background-color: $blue;
    }
    &:before{
      transform: translateY(-10px);
    }    
    &:after{
      transform: translateY(6px);
    }    
  }
}