.reviews{
  // height: 300px;
  background-image: url(../img/reviews.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  &__title{
    color: $text-color-white;
    text-align: center;
    margin: 0;
    padding: 30px 0 35px;
    @include font-family('Roboto Light', normal, normal);
    font-size: $font-size--title;
  }
  &__gallery{
    position: relative;
    .slick-arrow{
      position: absolute;
      z-index: 1;
      top: 50%;
      color: transparent;
      background-color: transparent;
      border: none;
      outline: none;
      opacity: .15;
      &:hover, &:focus {
        opacity: 1;
      }
    } 
    .slick-prev{
      left: 0;
      @include sprite($s-arrow-next);
      transform: translateY(-50%) rotate(180deg);
    } 
    .slick-next{
      right: 0;
      @include sprite($s-arrow-next);
      transform: translateY(-50%);
    }  
  }
  &__slide{
    text-align: center;
    color: $text-color-white;
    margin-bottom: 10px;
  }
  &__img{
    margin: 0 auto 10px;
    width: 90px;
    height: 90px;
    img{
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
      border-radius: 50%;
    }
  }
  &__quote{
    margin: 20px 0;
    @include font-family('Roboto Italic', normal, italic);
  }
}
