include ../abstracts/bemto/bemto.pug


+b.SECTION.contacts
  +e.H2.title Как нас найти
  +e.map-wrapper
    +e.map
    +e.map-inner
      .container
        +e.info-wrapper
          +b.contacts-info
            +e.H3.title Аэродром Сиворицы
            +e.address 60-й км Киевского шоссе, село Никольское    
            +e.A.tel(href="tel:+7 812 469-92-32", target="_blank") +7 812 469-92-32
            +e.working-hours с 8:00 до 21:00
            +e.A.route(href="#") Проложить маршрут





