include ../abstracts/bemto/bemto.pug


+b.SECTION.facts
  .container
    .row
      +e.ARTICLE.item.col-xs-12.col-lg-4
        +e.icon--extreme
        +e.H3.title Экстремально
        +e.text Загляни в глаза страху — почувствуй себя живым на высоте 3000 м
      +e.ARTICLE.item.col-xs-12.col-lg-4
        +e.icon--safe
        +e.H3.title Безопасно
        +e.text Наши самолёты надёжны, а пилоты квалифицированы
      +e.ARTICLE.item.col-xs-12.col-lg-4
        +e.icon--romantic
        +e.H3.title Романтично
        +e.text Дарите незабываемые впечатления и живописные виды любимым

