include ../abstracts/bemto/bemto.pug

// Footer
+b.FOOTER.footer
  .container
    .row
      .col-xs-12.col-sm-6.col-lg-3
        +b.menu-footer
          +e.UL.list
            +e.item 
              +e.A.link(href="#") Новости
            +e.item 
              +e.A.link(href="#") Скидки
            +e.item 
              +e.A.link(href="#") Вопросы и ответы
            +e.item
              +e.A.link(href="#") Оплата и доставка
            +e.item 
              +e.A.link(href="#") Контакты
      .col-xs-12.col-sm-6.col-lg-3
        +b.menu-footer
          +e.UL.list
            +e.item 
              +e.A.link(href="#") Все полеты
            +e.item 
              +e.A.link(href="#") На самолете
            +e.item 
              +e.A.link(href="#") На вертолете
            +e.item
              +e.A.link(href="#") Прыжки с парашютом
            +e.item 
              +e.A.link(href="#") Аэротруба
      .col-xs-12.col-sm-6.col-lg-3
        +b.menu-footer
          +e.UL.list
            +e.item 
              +e.A.link(href="#") Летная школа
            +e.item 
              +e.A.link(href="#") Фотосессии
            +e.item 
              +e.A.link(href="#") Предложения для пар
            +e.item
              +e.A.link(href="#") Подарочные сертификаты
            +e.item 
              +e.A.link(href="#") Корпоративным клиентам
      .col-xs-12.col-sm-6.col-lg-3
        +b.menu-footer
          +e.UL.list
            +e.item 
              +e.A.link(href="#") Вконтакте
            +e.item 
              +e.A.link(href="#") Facebook
            +e.item 
              +e.A.link(href="#") Одноклассники
            +e.item
              +e.A.link(href="#") Instagram


