include ../abstracts/bemto/bemto.pug


+b.SECTION.gallery
  +e.H2.title Фотографии наших полетов
  +e.pics
    +e.img
      img(src="img/pics/img1.jpg", alt="img1", title="img1")
    +e.img
      img(src="img/pics/img2.jpg", alt="img2", title="img2")
    +e.img
      img(src="img/pics/img3.jpg", alt="img3", title="img3")
    +e.img
      img(src="img/pics/img4.jpg", alt="img4", title="img4")
    +e.img
      img(src="img/pics/img5.jpg", alt="img5", title="img5")
    +e.img
      img(src="img/pics/img6.jpg", alt="img6", title="img6")
    +e.img
      img(src="img/pics/img7.jpg", alt="img7", title="img7")

