include ../abstracts/bemto/bemto.pug

// Header
+b.HEADER.header
  .container
    +e.inner
      +e.H1.motto Аэроклуб SkyDrive
      +e.map-wrapper
        +e.A.link--map(href="#map") 60-й км Киевского шоссе, село Никольское
      +e.tel-wrapper
        +e.A.link--tel(href="tel:+7 812 469-92-32", target="_blank", itemprop="telephone") +7 812 469-92-32, с 8:00 до 21:00

    +e.nav-wrapper
      +e.logo
        // Logo
        +b.A.logo(href="index.html", itemscope, itemtype="http://schema.org/Brand")       
          img(src="img/logo.png", alt="logo", title="logo", itemprop="logo")
      +e.nav
        // Nav
        +b.NAV.nav
          +e.hamburger
            +b.A.hamburger(href="javascript:void();")
              span
          +e.wrapper
            +e.UL.list
              +e.item 
                +e.A.link(href="#") Полеты
              +e.item 
                +e.A.link(href="#") Подарочные сертификаты
              +e.item
                +e.A.link(href="#") Фотосессии
              +e.item
                +e.A.link(href="#") Обучение
              +e.item 
                +e.A.link(href="#") Вопросы и ответы
              +e.item 
                +e.A.link(href="#") Контакты

