include ../abstracts/bemto/bemto.pug


+b.SECTION.services(itemscope, itemtype="http://schema.org/Service")
  .container
    .row.row-xs-stretch
      +e.ARTICLE.item.col-xs-12.col-lg-4
        +e.A.link(href="#")
          +e.DIV.img
            img(src="img/plane.jpg", alt="plane", title="plane", itemprop="image")
          +e.H3.title На самолёте
          +e.DIV.text Захватывающие полёты круглый год
      +e.ARTICLE.item.col-xs-12.col-lg-4
        +e.A.link(href="#")
          +e.DIV.img
            img(src="img/tube.jpg", alt="tube", title="tube", itemprop="image")
          +e.H3.title Аэротруба
          +e.DIV.text Свободное падение для взрослых и детей
      +e.ARTICLE.item.col-xs-12.col-lg-4
        +e.A.link(href="#")
          +e.DIV.img
            img(src="img/parachute.jpg", alt="parachute", title="parachute", itemprop="image")
          +e.H3.title Прыжок с парашютом
          +e.DIV.text Доза адреналина для экстремалов
    .row
      .col-xs-12
        +b.services-banner
          +e.text-wrapper
            +e.H3.title И ещё более 15 воздушных транспортных средств
            +e.text Вертолёты, парапланы, воздушные шары и многое другое от 2000 р
            +e.btn
              +b.A.btn(href="#") Выбрать полет
