<section class="banner">
  <div class="banner__gallery">
    <div class="banner__slide">
      <img src="img/slide1.jpg" alt="banner1" title="banner1" />
      <div class="banner__text-wrapper">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-lg-6 offset-lg-1">
              <div class="banner__slogan">Отправим в полёт вашей мечты в любое время года</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="banner__slide">
      <img src="img/slide1.jpg" alt="banner1" title="banner1" />
      <div class="banner__text-wrapper">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-lg-6 offset-lg-1">
              <div class="banner__slogan">Отправим в полёт вашей мечты в любое время года</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="banner__slide">
      <img src="img/slide1.jpg" alt="banner1" title="banner1" />
      <div class="banner__text-wrapper">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-lg-6 offset-lg-1">
              <div class="banner__slogan">Отправим в полёт вашей мечты в любое время года</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>