<section class="contacts">
  <h2 class="contacts__title">Как нас найти</h2>
  <div class="contacts__map-wrapper">
    <div class="contacts__map"></div>
    <div class="contacts__map-inner">
      <div class="container">
        <div class="contacts__info-wrapper">
          <div class="contacts-info" itemscope="itemscope" itemtype="http://schema.org/ContactPoint">
            <h3 class="contacts-info__title" itemprop="name">Аэродром Сиворицы</h3>
            <div class="contacts-info__address" itemprop="areaServed">60-й км Киевского шоссе, село Никольское </div>
            <a class="contacts-info__tel" href="tel:+7 812 469-92-32" target="_blank" itemprop="telephone">+7 812 469-92-32</a>
            <div class="contacts-info__working-hours" itemprop="hoursAvailable">с 8:00 до 21:00</div>
            <a class="contacts-info__route" href="#">Проложить маршрут</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>