<section class="facts">
  <div class="container">
    <div class="row">
      <article class="facts__item col-xs-12 col-lg-4">
        <div class="facts__icon facts__icon--extreme"></div>
        <h3 class="facts__title">Экстремально</h3>
        <div class="facts__text">Загляни в глаза страху — почувствуй себя живым на высоте 3000 м</div>
      </article>
      <article class="facts__item col-xs-12 col-lg-4">
        <div class="facts__icon facts__icon--safe"></div>
        <h3 class="facts__title">Безопасно</h3>
        <div class="facts__text">Наши самолёты надёжны, а пилоты квалифицированы</div>
      </article>
      <article class="facts__item col-xs-12 col-lg-4">
        <div class="facts__icon facts__icon--romantic"></div>
        <h3 class="facts__title">Романтично</h3>
        <div class="facts__text">Дарите незабываемые впечатления и живописные виды любимым</div>
      </article>
    </div>
  </div>
</section>