<!-- Footer-->
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-lg-3">
        <div class="menu-footer">
          <ul class="menu-footer__list">
            <li class="menu-footer__item">
              <a class="menu-footer__link" href="#">Новости</a>
            </li>
            <li class="menu-footer__item">
              <a class="menu-footer__link" href="#">Скидки</a>
            </li>
            <li class="menu-footer__item">
              <a class="menu-footer__link" href="#">Вопросы и ответы</a>
            </li>
            <li class="menu-footer__item">
              <a class="menu-footer__link" href="#">Оплата и доставка</a>
            </li>
            <li class="menu-footer__item">
              <a class="menu-footer__link" href="#">Контакты</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-lg-3">
        <div class="menu-footer">
          <ul class="menu-footer__list">
            <li class="menu-footer__item">
              <a class="menu-footer__link" href="#">Все полеты</a>
            </li>
            <li class="menu-footer__item">
              <a class="menu-footer__link" href="#">На самолете</a>
            </li>
            <li class="menu-footer__item">
              <a class="menu-footer__link" href="#">На вертолете</a>
            </li>
            <li class="menu-footer__item">
              <a class="menu-footer__link" href="#">Прыжки с парашютом</a>
            </li>
            <li class="menu-footer__item">
              <a class="menu-footer__link" href="#">Аэротруба</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-lg-3">
        <div class="menu-footer">
          <ul class="menu-footer__list">
            <li class="menu-footer__item">
              <a class="menu-footer__link" href="#">Летная школа</a>
            </li>
            <li class="menu-footer__item">
              <a class="menu-footer__link" href="#">Фотосессии</a>
            </li>
            <li class="menu-footer__item">
              <a class="menu-footer__link" href="#">Предложения для пар</a>
            </li>
            <li class="menu-footer__item">
              <a class="menu-footer__link" href="#">Подарочные сертификаты</a>
            </li>
            <li class="menu-footer__item">
              <a class="menu-footer__link" href="#">Корпоративным клиентам</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-lg-3">
        <div class="menu-footer">
          <ul class="menu-footer__list">
            <li class="menu-footer__item">
              <a class="menu-footer__link" href="#">Вконтакте</a>
            </li>
            <li class="menu-footer__item">
              <a class="menu-footer__link" href="#">Facebook</a>
            </li>
            <li class="menu-footer__item">
              <a class="menu-footer__link" href="#">Одноклассники</a>
            </li>
            <li class="menu-footer__item">
              <a class="menu-footer__link" href="#">Instagram</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>