<section class="gallery">
  <h2 class="gallery__title">Фотографии наших полетов</h2>
  <div class="gallery__pics">
    <div class="gallery__img">
      <img src="img/pics/img1.jpg" alt="img1" title="img1" />
    </div>
    <div class="gallery__img">
      <img src="img/pics/img2.jpg" alt="img2" title="img2" />
    </div>
    <div class="gallery__img">
      <img src="img/pics/img3.jpg" alt="img3" title="img3" />
    </div>
    <div class="gallery__img">
      <img src="img/pics/img4.jpg" alt="img4" title="img4" />
    </div>
    <div class="gallery__img">
      <img src="img/pics/img5.jpg" alt="img5" title="img5" />
    </div>
    <div class="gallery__img">
      <img src="img/pics/img6.jpg" alt="img6" title="img6" />
    </div>
    <div class="gallery__img">
      <img src="img/pics/img7.jpg" alt="img7" title="img7" />
    </div>
  </div>
</section>