<!-- Header-->
<header class="header">
  <div class="container">
    <div class="header__inner">
      <h1 class="header__motto">Аэроклуб SkyDrive</h1>
      <div class="header__map-wrapper">
        <a class="header__link header__link--map" href="#map">60-й км Киевского шоссе, село Никольское</a>
      </div>
      <div class="header__tel-wrapper">
        <a class="header__link header__link--tel" href="tel:+7 812 469-92-32" target="_blank" itemprop="telephone">+7 812 469-92-32, с 8:00 до 21:00</a>
      </div>
    </div>
    <div class="header__nav-wrapper">
      <div class="header__logo">
        <!-- Logo-->
        <a class="logo" href="index.html" itemscope="itemscope" itemtype="http://schema.org/Brand">
          <img src="img/logo.png" alt="logo" title="logo" itemprop="logo" />
        </a>
      </div>
      <div class="header__nav">
        <!-- Nav-->
        <nav class="nav">
          <div class="nav__hamburger">
            <a class="hamburger" href="javascript:void();">
              <span></span>
            </a>
          </div>
          <div class="nav__wrapper">
            <ul class="nav__list">
              <li class="nav__item">
                <a class="nav__link" href="#">Полеты</a>
              </li>
              <li class="nav__item">
                <a class="nav__link" href="#">Подарочные сертификаты</a>
              </li>
              <li class="nav__item">
                <a class="nav__link" href="#">Фотосессии</a>
              </li>
              <li class="nav__item">
                <a class="nav__link" href="#">Обучение</a>
              </li>
              <li class="nav__item">
                <a class="nav__link" href="#">Вопросы и ответы</a>
              </li>
              <li class="nav__item">
                <a class="nav__link" href="#">Контакты</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>