<section class="offers">
  <div class="container">
    <div class="row">
      <article class="offers__item col-xs-12 col-lg-6">
        <div class="offers__icon offers__icon--gift"></div>
        <h3 class="offers__title">Подарочные сертификаты</h3>
        <div class="offers__text">Дарите радость полёта друзьям и близким</div>
        <div class="offers__btn">
          <a class="btn btn--blue" href="#">Узнать больше</a>
        </div>
      </article>
      <article class="offers__item col-xs-12 col-lg-6">
        <div class="offers__icon offers__icon--school"></div>
        <h3 class="offers__title">Школа полётов</h3>
        <div class="offers__text">Мастера лётного дела обучат вас высшему пилотажу</div>
        <div class="offers__btn">
          <a class="btn btn--blue" href="#">Узнать больше</a>
        </div>
      </article>
    </div>
  </div>
</section>