<section class="reviews">
  <h2 class="reviews__title">Отзывы</h2>
  <div class="container">
    <div class="reviews__gallery">
      <div class="reviews__slide">
        <div class="reviews__img">
          <img src="img/person1.jpg" alt="person" title="person" itemprop="image" />
        </div>
        <div class="reviews__name">Кирилл Быков</div>
        <blockquote class="reviews__quote">«Спасибо SkyDrive за лучшие 30 секунд в моей жизни!»</blockquote>
      </div>
      <div class="reviews__slide">
        <div class="reviews__img">
          <img src="img/person1.jpg" alt="person" title="person" itemprop="image" />
        </div>
        <div class="reviews__name">Кирилл Быков</div>
        <blockquote class="reviews__quote">«Спасибо SkyDrive за лучшие 30 секунд в моей жизни!»</blockquote>
      </div>
      <div class="reviews__slide">
        <div class="reviews__img">
          <img src="img/person1.jpg" alt="person" title="person" itemprop="image" />
        </div>
        <div class="reviews__name">Кирилл Быков</div>
        <blockquote class="reviews__quote">«Спасибо SkyDrive за лучшие 30 секунд в моей жизни!»</blockquote>
      </div>
    </div>
  </div>
</section>