<section class="services" itemscope="itemscope" itemtype="http://schema.org/Service">
  <div class="container">
    <div class="row row-xs-stretch">
      <article class="services__item col-xs-12 col-lg-4">
        <a class="services__link" href="#">
          <div class="services__img">
            <img src="img/plane.jpg" alt="plane" title="plane" itemprop="image" />
          </div>
          <h3 class="services__title">На самолёте</h3>
          <div class="services__text">Захватывающие полёты круглый год</div>
        </a>
      </article>
      <article class="services__item col-xs-12 col-lg-4">
        <a class="services__link" href="#">
          <div class="services__img">
            <img src="img/tube.jpg" alt="tube" title="tube" itemprop="image" />
          </div>
          <h3 class="services__title">Аэротруба</h3>
          <div class="services__text">Свободное падение для взрослых и детей</div>
        </a>
      </article>
      <article class="services__item col-xs-12 col-lg-4">
        <a class="services__link" href="#">
          <div class="services__img">
            <img src="img/parachute.jpg" alt="parachute" title="parachute" itemprop="image" />
          </div>
          <h3 class="services__title">Прыжок с парашютом</h3>
          <div class="services__text">Доза адреналина для экстремалов</div>
        </a>
      </article>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="services-banner">
          <div class="services-banner__text-wrapper">
            <h3 class="services-banner__title">И ещё более 15 воздушных транспортных средств</h3>
            <div class="services-banner__text">Вертолёты, парапланы, воздушные шары и многое другое от 2000 р</div>
            <div class="services-banner__btn">
              <a class="btn" href="#">Выбрать полет</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>